.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chatMessage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 0;
}

.chatMessage span{
    font-size: 0.8rem;
    color: #7e7e7e;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.chatMessage span:last-child{
    margin-bottom: 0;
}

.chatMessage p{
    padding: 8px 15px;
    border-radius: 10px;
    margin: 0;
}

.connectingMessage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectingMessage span{
    font-size: 0.8rem;
    color: #7e7e7e;
    margin-top: 5px;
}