.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 10px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  background-color: #0070f3;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  color: #fafafa;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.15s ease;
  width: 330px;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  transform: scale(1.05);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.chat{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  flex-grow: 1;
}

.chatContainer{
  max-width: 1300px;
  height: 80vh;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatSidebar{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #7e7e7e;
  border-radius: 10px;
  margin-right: 10px;
}

.sidebarHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 12.5px 0 20px;
  border-bottom: 2px solid #7e7e7e;
}

.sidebarHeader h3{
  flex-grow: 1;
}

.sidebarHeader button{
  padding: 0.2rem 0.7rem;
  border-radius: 10px;
  border: none;
  background-color: #0070f3;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebarContacts{
  overflow-y: scroll;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sidebarContacts::-webkit-scrollbar {
  display: none;
}

.sidebarContacts p{
  width: 100%;
  text-align: center;
}

.sidebarContact{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  padding: 10px 20px;
  border-bottom: 2px solid #7e7e7e;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebarContact span{
  flex-grow: 1;
  font-size: 1rem;
  text-overflow: clip;
}
.sidebarContact small{
  font-size: 1.5rem;
  font-weight: bold;
  color: #0070f3;
  margin-left: 5px;
}

.chatBody{
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #7e7e7e;
  border-radius: 10px;
}

.chatHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 20px;
  border-bottom: 2px solid #7e7e7e;
}

.chatHeader h3{
  flex-grow: 1;
}

.chatWelcome{
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.messageContainer{
  flex-grow: 1;
  width: 100%;
  padding: 0 15px;
  overflow-y: scroll;
}

.messageContainer::-webkit-scrollbar{
  display: none;
}

.chatFooter{
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 2px solid #7e7e7e;
}

.chatFooter input{
  flex-grow: 1;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  border: none;
}

.chatFooter button{
  width: 35px;
  height: 35px;
  background-color: #0070f3;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  margin-right: 3px;
  cursor: pointer;
}